.footer{
    background-color: #1976d2;
    color: #fff;
    width: 100%;
    /*Минус Высота футера*/
    min-height: 100px;
    /*Высота футера*/
    position:fixed;
    bottom:0;   
    margin-top:100px;
}